body {

    color: aliceblue;

    margin-top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)), url(./images/bgmain2.jpg); */
   


}

#title {
    height: 290px;
    position: relative;

    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: transparent;
    margin-left: 0px;
    top: 0px;
    padding: 10px;

    background-image: linear-gradient(to right, rgba(0, 0, 255, .3), rgba(255, 0, 0, .3), rgba(0, 255, 0, 0.3), rgba(255, 255, 0, .3)), url(./images/backpaper.jpg);

    background-repeat: no-repeat;
    background-size: cover;



}

#title a:hover {

    color: GOLD;
    transform: scale(1.2);
}

#title span {
    color: gold;
}




.A {
    position: absolute;

    font-size: 370%;
    top: 50px;
    margin-left: 180px;
    font-family: 'Monoton', cursive;

    text-align: center;
    color: white;


}

.A h6 {
    position: absolute;
    margin-top: -60px;
    left: 150px;
    color: bisque;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.B h3 {
    color: white;
    text-align: left;

    margin-left: 60px;
    top: 30px;
}

.B span {
    color: gold;
}

.B {
    position: fixed;
    z-index: 1;
    height: 60px;

    /* width:1319px; */
    width: 100%;


    text-align: right;


    font-size: 150%;
    color: transparent;

    align-items: center;
    top: 0px;
    /* left:0px; */
    right: 0px;
    /* background: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)); */
    background-color: rgba(0, 0, 0, 0.75);
    /* background-image: url(./images/bgmain.jpg); */


}

.B {
    display: flex;

}

.anchor {
    margin-top: -5px;
    margin-left: 820px;

}

.B a {
    color: transparent;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: center;
    margin-top: 15px;
    color: white;


}

.mid {

    position: relative;
}

.content {
    position: absolute;

    left: 170px;
    right: 120px;
    /* height: 100%; */

    color: #2e1b11;
    font-size: 150%;
    /* background-color: rgba(147, 37, 37, 0.619); */
    padding: 50px;
    /* font-style: italic; */
    /* opacity: .8; */
    /* background-color: beige; */
    font-family: 'Patrick Hand', cursive;

}

aside {
    position: fixed;
    top: 60px;
    /* left:0px; */
    /* bottom: 0px;  */
    width: 170px;
    height: 100%;
    /* background-color: #2e1b11; */
    text-align: center;
    /* background-color: aliceblue; */
    z-index: 1;
    display: none;
    background-color:rgba(46, 27, 17,0.75);
}

#goto {

    display: none;
}

.goto {

    position: fixed;
    top: 15px;
    left: 12px;
    z-index: 1;
    /* width:100px; */
    /* height:100px; */
    /* background-color: white; */
    color: white;
}

.goto:hover {

    color: gold;
}

#goto:checked~aside {

    display: initial;
}

#goto:checked~aside a {

    display: block;

}

#goto:checked ~.goto{

    color:gold;
}

aside a {
    display: block;
    text-decoration: none;
    color: white;
    justify-items: space-around;
    text-align: left;
    height: 5%;
    margin-top: 50px;
    display: none;
    margin-left: 10px;
    /* border-bottom: 1px solid white;
    border-top: 1px solid white; */
    font-size: large;
    /* opacity: 0; */
    /* display: none; */
    /* border-radius: 10px; */

    /* ,url(./images/wood.jfif); */
    /* background-image: url(./images/backpaper.jpg); */
}

aside a:hover {
    /* transform: translateX(30px); */
    /* background-color: rgba(46, 27, 17, 0.7); */
    color: gold;
    font-size: large;
    transform: translateX(20px);
    transition: 0.5s;

}





#gallery {
    /* width: 1000px; */


    display: flex;
    justify-content: space-between;
}

#gallery img {
    width: 220px;
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0), 5px 5px 10px 5px beige;
    height: 220px;
    border-radius: 20px;
}

#gallery img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 2px white;
}

h2 {
    color: #2e1b11;
    text-shadow: 1px 1px white;

    font-style: normal;
}

/* content */







#mug {
    position: absolute;
    width: 400px;
    height: 350px;
    margin-left: 1000px;
    top: 2050px;
    z-index: -1;
}

#pic img {

    width: 400px;
    height: 400px;
    border-radius: 20px;

}


/* recipe */

.all {
    position: relative;
    padding: 5px;
    display: flex;

    margin-left: 100px;
    justify-content: space-between;
    border: white 2px solid;
    border-radius: 20px;
    width: 1000px;
    /* overflow: hidden; */
    height: 400px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(23, 3, 3, 0.75));

}



#det {
    padding: 20px;
    position: absolute;
    left: 500px;
    font-size: medium;
    height: 300px;
}

#det h4 {
    text-align: center;
    font-size: large;
}

.all strong {

    font-size: medium;
}

/* .all:hover {


    transform: scale(1.05);
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(23, 3, 3, 0.75));

} */


.recipe {
    background-color: rgb(168, 164, 164);
    color: black;
    padding: 3px;
    margin-left: 100px;
    margin-top: 450px;
}

.recipe:hover {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(23, 3, 3, 0.75));
    color: white;
}






.we {

    display: relative;
    width: 100%;
    height: 400px;
    /* background-color: aquamarine; */
    /* padding:10px; */
}

.whoweare {
    position: absolute;
    width: 700px;
    height: 400px;
}

.delivery img {
    width: 500px;
    height: 400px;
}

.delivery {
    position: absolute;
    margin-left: 700px;
    margin-top: -100px;
}

#sign {
    display: none;
}

.form {
    position: fixed;

    margin-left: 1180px;
    right: 0px;
    color: white;
    font-weight: 110%;
    background-color: rgba(0, 0, 0, .75);
    width: 230px;
    height: 250px;
    text-align: left;

    text-align: center;

    display: none;
    top: 60px;
    z-index: 1;
}



.form button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: greenyellow;
}

.sign:checked~.form {

    display: initial;
}

.form button:hover {

    background-color: steelblue;
    color: white;

}


.chatform {
    position: fixed;
    width: 200px;
    height: 660px;
    display: none;

    color: white;
    right: 0px;
    bottom: 0px;
    padding: 15px;

}

#chat {

    display: none;
}

.chat {
    position: fixed;
    right: 5px;
    bottom: 5px;

    color: rgb(34, 93, 142);
    width: 50px;
    height: 50px;
    z-index: 1;

}

#chat:checked~.chatform {

    background-color: rgba(0, 0, 0, .75);
    display: initial;
}

.chatform button {
    padding: 10px;
    width: 50px;
    margin-left: 50%;
    transform: translateX(-25px);
    background-color: greenyellow;
    color: black;
    border: 2px solid white;

}

.chatform button:hover {

    background-color: steelblue;
    color: white;
}

.rec {

    position: relative;

    /* background-color: cyan; */
}


.all1 {

    position: absolute;
    display: none;

}

.all2 {
    position: absolute;

    display: none;
}

.all3 {
    position: absolute;

    display: none;

}

.all4 {
    position: absolute;

    display: none;
}

.all5 {
    position: absolute;

    display: none;
}

.all6 {
    position: absolute;

    display: none;
}


#shop {

    position: absolute;
    margin-top: -250px;


}


.radall {
    position: absolute;
    margin-top: 430px;
    /* margin-left:590px; */
    width: 20px;
    background-color: black;
    height: 20px;
}

/* .radall1:checked~.all1{

    display:initial;

} */

.radall1:checked~.all1 {

    display: initial;

}

.radall2:checked~.all2 {

    display: initial;

}

.radall3:checked~.all3 {

    display: initial;

}

.radall4:checked~.all4 {

    display: initial;

}

.radall5:checked~.all5 {

    display: initial;

}

.radall6:checked~.all6 {

    display: initial;

}

.radall6 {

    margin-left: 650px;
}

.radall5 {

    margin-left: 620px;
}

.radall4 {

    margin-left: 590px;
}

.radall3 {

    margin-left: 560px;
}

.radall2 {

    margin-left: 530px;
}

.radall1 {

    margin-left: 500px;
}


/* footer */

footer{
position: relative;
margin-top: 4000px;
    width:100%;

    height:200px;
    background-color: rgba(0, 0, 0, 0.75);
}

.socicon {
   
/* background-color: cyan; */
    display: flex;
    justify-content: space-evenly;
   color:white;
   
}

.socicon a{
    color:white;

margin-top:25px;


}

.socicon a:hover{

    color:gold;
   
}



footer h3 span{

    color:gold;
}

.footside a{
display: block;
    color:white;
    text-decoration: none;
    /* padding:35px; */
    /* padding-bottom: 25px; */
    margin-left: 30px;
    width:fit-content
}

.footside a:hover{

    color:gold;
}

footer h3{
/* margin-top: -20px; */
    text-align: center;
}

.shoppee{

width:1180px;
/* margin-right:100px; */
    display: flex;
    justify-content: space-between;
}

.prdt{
    

    width:200px;
    /* height: 480px; */
    background-color: white;
    padding:5px;
    font-size: large;
    font-family: sans-serif;
    box-shadow: 3px 3px 2px 3px rgb(89, 81, 81), 3px 3px 2px 3px rgb(134, 131, 131);
    color: black;
    margin-bottom: 20px;
}

.prdt img{

    width:200px;
    height: 200px;
    
}

.cart,.buy{
margin-left:50%;
transform: translateX(-75px);
    width:150px;
    padding:10px;
    background-color:rgb(157, 212, 75);
    border-radius: 20px;
}

.prdt i{

    color:darkgreen;
}

.prdt span i{

    color:rgb(155, 148, 148);
}

.prdt button:hover{

    background-color: steelblue;
    color:white;
}

.checkbutton{

    background-color: rgba(241, 134, 11, 0.861);
padding:10px;
width:150px;
}

.checkbutton:hover{
background-color:greenyellow;
}